
h2 AdminPanel

each article in notApprovedArticles
  form(action="/adminPanel" method='POST' style="border: 2px solid black")
    h3=article.header
    p= article.text
    br
    br
    p= article.author
    input(type="hidden" value=`${article._id}` name="id")
    input(type="submit" value='APPROVE') 


//- link(rel='./javascripts/adminpanel.js')