
h2 AdminPanel

each article in notConfirmedArticles
  div(style="border: 2px solid black")
    h3=article.header
    p= article.text
    br
    br
    p= article.author
    input(type="submit" action="/articles" method='POST' value='APPROVE') 


link(rel='./javascripts/adminpanel.js')