form(action="/userPanel" method='POST')
  input(type="text" name="header")
  br
  input(type="text" name="text" style="width: 100%; height: 70vh; border: 2px solid cyan")
  br
  input(type="text" name="author")= author
  input(type="submit", value="send for approvement")