form(action="/userPanel" method='POST')
  input(type="text" name="header")
  br
  textarea(cols="30", rows="10" type="text" name="text" style="width: 100%; height: 70vh; border: 2px solid cyan")
  br
  input(type="text" name="author" value=`${author}`)
  input(type="submit", value="send for approvement")